.ContactData {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 10px;
  box-sizing: border-box;
}

.ContactData input {
  display: block;
  width: 80%;
  margin: auto;
  margin-bottom: 8px;
  padding: 10px;
  border-radius: 4px;
  background-color: #f3f3f3;
  height: 20px;
  color: #000;
  font: inherit;
  transition: all .3s ease;
}

.ContactData input:hover {
  background-color: #000;
  color: #fff;
  border: 2px solid #ffd670;
  transition: all .3s ease;
}

@media (min-width: 600px) {
  .ContactData {
    width: 500px;
  }
}